@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #4F6A9E;
  --black: #1a1a1a;
  --white: #ffffff;
  --gold: #C8B568;
}

body {
  margin: 0;
  padding: 0;
}

.text-blue {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}

.text-black {
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
}

.text-white {
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
}

.text-gold {
  color: var(--gold);
}

.fill-gold {
  fill: var(--gold);
}

.bg-gold {
  background-color: var(--gold);
}

.container {
  margin: 0 auto;
}