@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.text-blue {
  color: #4F6A9E;
}

.bg-blue {
  background-color: #4F6A9E;
}

.text-black {
  color: #1a1a1a;
}

.bg-black {
  background-color: #1a1a1a;
}

.text-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.text-gold {
  color: #C8B568;
}

.bg-gold {
  background-color: #C8B568;
}
